# Node.js
node_modules/
npm-debug.log
yarn-error.log
# Env files
.env
.env.*
**/.env
**/.env.*
#####
# Hardhat files
/cache
/artifacts
# Build output
dist/
build/
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
# Hardhat (strumento locale, non serve su Railway)
document-registry/
project-backend/utils/jsonformatter.txt
project-backend/utils/w3up-client.json
project-backend/utils/proofs.json
Graphic Architecture.png
project-backend/config/storacha-cli.json
project-backend/utils/extract-valid-proofs.mjs
project-backend/utils/storacha-cli.json

project-backend/w3up-client.json
project-backend/utils/test-mongo-alt.mjs
project-backend/utils/testStoracha.js
project-backend/utils/verifyDelegations.js
project-backend/utils/slim-w3up.js
project-backend/utils/verifyDelegations.mjs
output.pdf
certificato.pdf
